@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #1E40AF;
    --secondary-color: #3B82F6;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
}

nav {
    display: flex;
    width: 100vw;
    height: 70px;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #2F323A;
}

nav .logo {
    display: flex;
    align-items: center;
}

.iconify {
    width: 30px;
    height: 30px;
    color: var(--secondary-color);
}

nav p {
    display: inline;
    padding-left:10px;
    vertical-align: middle;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
    font-weight: bold;
}

.cta {
    padding: 14px 20px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.cta:hover{
    background-color: var(--primary-color);

}

.logout__btn {
    padding: 5px;
    background: rgb(133, 133, 132);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    transition-property: background;
    cursor:pointer;
}

.logout__btn:hover {
    background: rgb(152, 152, 151);
}

.section__background {
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    display: block;
    line-height: 50px;
}

section .section--heading {
    font-size: 42px;
    margin: 100px 0 0 0;
    color:rgb(44, 41, 41);
}

section .section--subheading {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 40px;
    color:rgb(54, 51, 51);

}

.bg__grey {
    background-color: #2F323A;
    height: auto;
}


/* Homepage footer section */
#homepage--footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
}

#homepage--footer section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 40px;
}

#homepage--footer section ul{
    text-decoration: none;
}

#homepage--footer section ul li{
    width: auto;
    list-style: none;
    line-height: 1.5rem;
    width: 10rem;
    color: rgb(165, 162, 162);

}

#homepage--footer section ul li h3{
    margin-bottom: 1.5rem;    
    font-weight: 600;
    color: #ccc;
}

/* DASHBOARD */
/* sidebar */
.sidebar--profile {
    text-align: center;
}

.sidebar {
    background: #2F323A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;

}

.sidebar .profile__image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    border: 4px solid white;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 0px;
}

.sidebar a {
    color: #fff;
    display: flex;
    line-height: 60px;
    padding-left: 40px;
    align-items: center;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar--list .iconify {
    margin-right: 20px;
}

label #sidebar__btn {
    z-index: 2;
    color: white;
    position: fixed;
    left: 300px;
    margin: 5px 0;
    top: 15px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar__btn:hover {
    color: #19B3D3;
    cursor: pointer;

}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a .sidebar--list__text {
    display: none;

}

#check:checked~.sidebar a {
    margin-left: 170px;
    width: 80px;
    margin-bottom: 20px;
}

.content {
    padding-top: 70px;
    margin-left: 250px;
    height: 100vh;
    transition: .5s;
    padding-right: 20px;
    padding-left: 20px;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}

/* Dashboard Page */
#dashboard {
    height: 90vh;
}

#dashboard #dashboard--heading {
    display: block;
    width: 100%;
    font-size: 35px;
    padding-left: 5px;
    margin-top: 30px;
    font-weight: 500;
}

#dashboard #dashboard--menu {
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: rgb(228, 226, 226);
    font-size: 14px;
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
}

#dashboard--menu a {
    margin-right: 20px;
}

#dashboard--welcome {
    width: 100%;
    height: 70px;
    margin: 20px 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #dff0d8;
    color: #3c763d;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}


#dashboard--welcome .iconify {
    width: 30px;
    height: 30px;
    color: #3c763d;
    margin-right: 5px;
}

#dashboard--cards--container {
    display: grid;
    height: 350px;
    grid-template-rows: 150px 150px;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-between;
    align-content: space-around;
}

.dashboard--cards {
    border-top-left-radius: 20px;
    display: grid;
    grid-template-rows: 2fr auto 3fr;
}


                                                /* -------------------------- */
                                                /* cards color classes */
                                                /* -------------------------- */


.cards__bg__light-blue {
    background-color: #d9edf7;
}

/*bs: butter scotch  */
.cards__bg__light-bs {
    background-color: #fcf8e3;
}

.cards__bg__light-green {
    background-color: #dff0d8;
}

.cards__bg__light-red {
    background-color: #f2dede;
}

/* ---------------------------- */

/* cards-content */
.dashboard--cards .icon {
    width: 70px;
    height: 70px;
}

.dashboard--cards .cards--nos {
    font-size: 70px;
}

.dashboard--cards .cards--content {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.dashboard--cards .cards--name {
    display: block;
    text-align: right;
    padding-right: 10px;

}

.dashboard--cards .cards--view {
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.cards--view .iconify {
    width: 20px;
    height: 20px;
    color: #19B3D3;
}

#dashboard #dashboard--footer {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: smaller;
}

/* Blog published section */

#blogs--published {
    padding-bottom: 2rem;
}


/* blogs published section */

/* styling each blog */
.blogs {
    margin: auto;
    width: 70%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}

.blogs .blog--header {
    display: block;
    height: 50px;
    font-size: large;
    color: #000;
    text-align: center;
}

.blogs .blog--header .blog--subheading {
    font-size: small;
    color: rgb(117, 113, 113);
    font-style: oblique;
    line-height: 1.5rem;
}

.blogs figure {
    margin-top: 10px;
}

.blogs figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all .5s;
}

.blogs figure img:hover {
    transform: translateY(-3px);
}

.blogs .blogs--desc {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5em;
    text-align: justify;
}

.blogs .blogs--footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.blogs .blogs--footer button {
    display: flex;
    align-items: center;
    border: 2px solid rgb(187, 186, 186);
    border-radius: 5px;
    cursor: pointer;
}

.liked {
    font-weight: bold;
    background-color: var(--primary-color);
}

.liked__icon {
    color: #ccc;
}

.liked,
.commented span {
    color: var(--primary-color);
}

.reply__none {
    display: none;
}


.replies {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 2px solid rgb(201, 198, 198);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8rem;
    font-style: italic;
    font-size: 0.8rem;
    font-style: italic;
}

.replies .iconify {
    border-radius: 50%;
    color: #2F323A;
    border: 2px solid #2F323A;
    padding: 2px;
}

.replies .reply--context {
    margin-left: 10px;
    max-width: 70%;
    padding: 10px;
    height: auto;
    background-color: #f1f2f5;
    border-radius: 10px;
    line-height: 1.5rem;

}

.replies .reply--context .replies--heading {

    font-size: 1rem;
    font-weight: bold;
}

/* blog reply section ends */



/* blog comment section starts */

.blogs .blogs--comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.blogs .blogs--comment textarea {
    margin-left: 10px;
    width: 70%;
    padding: 5px;
    min-height: 50px;
}

.blogs .blogs--comment .comment--btn {
    cursor: pointer;

    border: 2px solid rgb(187, 186, 186);
    border-radius: 5px;
    height: 35px;
    justify-content: center;
    padding: 3px 21px;
}

.blogs .blogs--comment .comment--btn:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}